html,
body {
  background-color: rgba(0, 0, 0, 0.7);
}
section.main {
  position: fixed;
  top: 20%;
  left: .04rem;
  width: 7.46rem;
  height: 7.59rem;
  background: url(../images/tc_end.png) center no-repeat;
  background-size: cover;
}
section.main a {
  position: absolute;
  bottom: 1.02rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 4.58rem;
  height: .94rem;
  background: url(../images/btn_8.png) center no-repeat;
  background-size: cover;
}
