html,body{
    background-color: #f62980;
}
section.main{
    position: relative;
    width: 7.5rem;
    height: 12.06rem;
    background: url(../images/pic_bg_1.png) center no-repeat;
    background-size: cover;
    >a:nth-child(1){
        position: absolute;
        top: .41rem;
        right: .54rem;
        font-size: .3rem;
        line-height: 1em;
        color: #ffebee;
        z-index: 100;
    }
    >div.detail{
        position: absolute;
        left: 0;
        top: 0;
        box-sizing: border-box;
        padding-top: 2.6rem;
        width: 7.5rem;
        height: 12.06rem;
        background: url(../images/pic_bg_5.png) center no-repeat;
        background-size: cover;
        >p:nth-child(1){
            width: 100%;
            font-size: .36rem;
            text-align: center;
            line-height: 1.8em;
            color: #b113d2;
            i{
                font-style: normal;
                font-size: .48rem;
                color: #f55c5a;
            }
        }
        >a{
            margin: .65rem auto;
            display: block;
            width: 4.58rem;
            height: .94rem;
            background: url(../images/btn_2.png) center no-repeat;
            background-size: cover;
        }
        >p:nth-child(3){
            margin: 2.3rem auto .48rem;
            width: 100%;
            text-align: center;
            font-size: .3rem;
            color: #b113d2;
        }
        >div{
            overflow: hidden;
            margin: 0 auto;
            width: 6.3rem;
            height: 2.6rem;
            ul{
                position: relative;
                li{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: .44rem;
                    h3{
                        font-size: .36rem;
                        color: #ffaa04;
                    }
                    p{
                        margin: 0 .72rem 0 .25rem;
                        font-size: .3rem;
                        color: #ffaa04;
                    }
                    span{
                        font-size: .3rem;
                        color: #968a99;
                    }
                }
                
            }
        }
    }
}
/* 活动规则弹窗 */
section.rule{
    display: none;
    position: fixed;
    top: 1.21rem;
    left: 0;
    right: 0;
    margin: auto;
    box-sizing: border-box;
    padding-top: 1.2rem;
    width: 7.18rem;
    height: 9.61rem;
    background: url(../images/rule_box.png) center no-repeat;
    background-size: cover;
    z-index: 200;
    a:nth-child(1){
        position: absolute;
        right: 0;
        top: -.1rem;
        width: .69rem;
        height: .69rem;
        background: url(../images/tc_close.png) center no-repeat;
        background-size: cover;
    }
    ul{
        overflow: scroll;
        margin: 0 auto;
        width: 6.1rem;
        height: 6.3rem;
        li{
            font-size: .26rem;
            line-height: 2em;
            color: #b113d2;
        }
    }
    a:nth-child(3){
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: .9rem;
        width: 4.58rem;
        height: .94rem;
        background: url(../images/btn_3.png) center no-repeat;
        background-size: cover;
    }
}
/* 遮罩层 */
section.mask{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 150;
}